
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";

}
@using ProjectFinally.Models
@model IEnumerable<ProjectFinally.Models.sanpham>

<div class="col-sm-9 padding-right">
    <h2 class="title text-center">Features Items</h2>

    <div class="features_items">
        <!--features_items-->
        <div id="content">

        </div>

    </div><!--features_items-->
</div>
