
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassWord_NDShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Clean Login Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />

    <!-- css files -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <h1>FORGOT MY PASSWORD!</h1>
                <div class="main-agileits">
                    <!--form-stars-here-->
                    <div class="form-w3-agile">
                        <h2>Reset Password Now</h2>
                        <form action="ForgotpasswordAccount" method="post">
                            <div class="form-sub-w3">
                                <input type="text" name="EnterEmail" placeholder="Enter Email " required="" />
                                <div class="icon-w3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                            </div>


                            <div class="clear"></div>
                            <div class="submit-w3l">
                                <input type="submit" value="Reset">
                            </div>
                            >
                        </form>
                        <div class="social w3layouts">
                            <div class="heading">
                                <h5>Login with</h5>
                                <div class="clear"></div>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>

                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="social w3layouts">
                            <div class="clear"></div>
                            <p class="p-bottom-w3ls">Trang chủ<a @Html.ActionLink("  Click here","Index","Home") </a></p>
                            <div class="clear"></div>
                            <p class="p-bottom-w3ls">Register Account<a @Html.ActionLink("  Click here","Register","Home") </a></p>
                            <div class="clear"></div>
                            <div class="clear"></div>
                            <p class="p-bottom-w3ls">Login<a @Html.ActionLink("  Click here","Login","Home") </a></p>
                            <div class="clear"></div>
                        </div>
                        <div class="copyright w3-agile">
                            <p></p>
                        </div>
                        <div class="copyright w3-agile">
                            <p></p>
                        </div>
                        <div class="copyright w3-agile">
                            <p></p>
                        </div>
                    </div><!-- copyright -->
                    <div class="copyright w3-agile">
                        <p>ĐĂNG NHẬP ĐỂ MUA SẮM THỎA THÍCH NHÉ!!!!</p>
                        <p> Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>

                    </div>
                    <!-- //copyright -->
                </div>
            </div>
</body>
</html>
